@import "tailwindcss";
@import "./App.css";

html,
body {
  background-color: #040404;
  scroll-behavior: smooth;
  overflow-x: clip;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --breakpoint-3xl: 120rem;
  --breakpoint-1xl: 1070px;
  --rounded-sm: 5px;
  --text-xl: 42px;
  --text-lg: 36px;
  --text-title-md: 28px;
  --text-md: 22px;
  --text-sm: 14px;
  --text-xs: 12px;
  --color-primary: #040404;
  --color-primary-text: #f9f9f9;
  --color-secondary-text: #c0c0c0;
  --color-stroke-gray: #242424;
  --color-inactive-text: #97979c;
  --color-dull-white: #f9f9f9;
  --color-dark-gray: #686870;
  --color-dull-gray: #686870;
  --color-low-opacity-text: #97979c;
  --color-stroke-15: #353536;
  --color-medium-opacity: #bababd;
  --animate-enterFromLeft: enterFromLeft 300ms ease forwards;
  --animate-enterFromRight: enterFromRight 300ms ease forwards;
  --animate-exitToLeft: exitToLeft 300ms ease forwards;
  --animate-exitToRight: exitToRight 300ms ease forwards;
  --animate-scaleIn: scaleIn 200ms ease forwards;
  --animate-scaleOut: scaleOut 200ms ease forwards;

  @keyframes enterFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enterFromRight {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exitToLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes exitToRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: rotateX(-30deg) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scaleOut {
    0% {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }
}

/* styles.css or a module file */
.white-gradient {
  background: linear-gradient(90deg, #cacaca 0%, #e9e9e9 40.87%, #d3d3d3 100%);
}
#blur-circle-3 {
  backdrop-filter: blur(17.5px);
}
